/*--------------------------------------------------------------------------------
          Styles for the internal (In Touch Ads) or --------- HERO IMAGES --------
 ------------------------------------------------------------------------------------*/

.cover-transparent {
	background: rgba($tertiary-color,0.7);
}

ul.membership-benefits {
	list-style: none;
	@include mq($until:sph){
		padding: 0;
		margin: 1em 0;
	}
	@include mq($from:sph){
		padding: 0;
		margin: 2em 0;
	}
	@include mq($from:tb){
		padding: 0 2em;
		margin: 2em 0;
	}
	li {
		overflow: hidden;
		margin: 0 0 1em;
		&:last-child {
			margin-bottom: 0;
		}
		span.icon-benefits {
			img {
				background: $primary-color-2;
				display: block;
				width: 60px;
				height: 60px;
				@include border-radius(50%);
			}
		}
		span.label-benefits {
			color: $white;
			padding-left: 1em;
			font-size: 1em;
			font-weight: 700;
			padding-top: 1em;
			
		}
	}
}

//is displayed for non-standard users:
// - instead of "Upgrade your profile" on home page
// - under the Take the tour slider
.membership-info-background-image {
	overflow: hidden;
	width: auto;
	position: relative;
	.comingsoon-title {
        color: $primary-color-2;
    }
    .tile-title {
        color: $white;
    }
    p {
        color: $white;
    }
	.box {
		width: 100%;
		margin: 0 auto;
		background: $tertiary-color;
		min-height: inherit;
		padding: 60px $baseline $baseline;
		//box-shadow: 0 0 50px $black;
		position: relative;
		z-index: 2;
		&:before, &:after {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			box-shadow: inherit;
		}
	}
	.dtc {
		vertical-align: middle;
	}
	h3 {
		line-height: 1.1;
	}
	h5 {
		color: white;
		margin-bottom: 1.8em;
		font-size: 130%;
	}
	h6 {
		color: $white;
	}
}

.homepage-body {
	.membership-info-background-image {
		@include background-image($bg-tile-membership-profile, center, no-repeat, cover);
		min-height: 418px;
		.grey-box {
			text-align: center;
			max-width: 418px;
		}
	}
}

.take-the-tour-body {
	.membership-info-background-image {
		@include background-image($bg-tile-membership-profile, center, no-repeat, cover);
		min-height: auto;
		.grey-box {
			background: darken($tertiary-color,10%);
			h3 {
				text-align: center;
			}
			h5 {
				padding-top: 0.3em;
			}
			@include mq($until:tb){
				max-width: 780px;
				h5 {
					text-align: center;
				}
				ul.buttons-left {
					text-align: center;
				}
			}
			@include mq($from:tb){
				max-width: 992px;
				h5 {
					text-align: right;
				}
			}
			@include mq($from:dss){
				max-width: 1140px;
			}
		}
	}
}


// ---- On Jobs Search page ---- //
.jobs-body {
	.membership-info-background-image {
		@include background-image($bg-meeting-glass-room, center, no-repeat, cover);
		background-attachment: fixed;
		@include mq($from:tb) {
			.grey-box {
				min-height: 428px;
			}
		}
	}
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

// ---- On CV Services page ---- //
.cvservices-page {
}

// ---- On Media Hub page ---- //
.media-hub-body {
	.membership-info-background-image {
		@include background-image($bg-media-hub, center, no-repeat, cover);
		background-attachment: fixed;
		margin: 2em 0 0;
		.cover-transparent {
			padding: 3em 0 5em;
		}
	}
	// .media-hub-list {
	// 	margin-top: -2em;
	// }
}

// ---- On Courses page ---- //
.courses-body {
	.membership-info-background-image {
		@include background-image($bg-documents, center, no-repeat, cover);
		background-attachment: fixed;
		margin: 2em 0;
		.cover-transparent {
			padding: 3em 0 5em;
		}
	}
}

// ---- On Webinars page ---- //
.webinars-body {
	.membership-info-background-image {
		@include background-image($bg-webinars, center, no-repeat, cover);
		background-attachment: fixed;
		margin: 2em 0;
		.cover-transparent {
			padding: 3em 0 5em;
		}
	}
}

// ---- On Podcasts page ---- //
.podcasts-body {
	.membership-info-background-image {
		@include background-image($bg-podcasts, center, no-repeat, cover);
		background-attachment: fixed;
		margin: 2em 0;
		.cover-transparent {
			padding: 3em 0 5em;
		}
	}
}

// ---- On Member Search page ---- //
.members-body {
	.membership-info-background-image {
		@include background-image($bg-members, center, no-repeat, cover);
		background-attachment: fixed;
		margin: 2em 0;
		.cover-transparent {
			padding: 3em 0 5em;
		}
	}
}

// ---- On Forum - categories page ---- //
.category-body {
	.membership-info-background-image {
		@include background-image($bg-forum, center, no-repeat, cover);
		background-attachment: fixed;
		margin: 2em 0 0;
		.cover-transparent {
			padding: 3em 0 6em;
		}
	}
	.category-list {
		margin-top: -3em;
		position: relative;
		margin-bottom: 4em;
		
	}
}


// ---- On Documents page ---- //
.documents-body {
	.membership-info-background-image {
		@include background-image($bg-documents, center, no-repeat, cover);
		background-attachment: fixed;
		margin: 2em 0;
		.cover-transparent {
			padding: 3em 0 5em;
		}
	}
}
