/*--------------------------------------------------------------------------------------------
                         Blog Single Item Summary Styles
 --------------------------------------------------------------------------------------------*/
 
.blog-overview__list {
    list-style: none;
    padding: 0;
    margin: 0;
.blog-overview__item {

    .item-row {
        // max-height: 100%;
        .image {
            height: 448px;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .summary {
            .title {
                line-height: 1.4;
            }
         }
    }
}
}