/*--------------------------------------------------------------------------------------------
                         Marketing site Resources page Styles
 --------------------------------------------------------------------------------------------*/

.blog-head {
    margin-top: 1em;
    &__date {
        float: right;
    }
    &__button {
        padding: .4em 2.8em;
    }
}