/*--------------------------------------------------------------------------
          Styles for the Checkout Items
 --------------------------------------------------------------------------*/

$gradient-ned-brand-color: linear-gradient(to right, $primary-color-1 0%, darken($primary-color-1,1%) 100%);
$icon-briefcase: url("/images/briefcaseflipped.jpg");


.basket-item-icon {
 //specific for brands and jobs
 .bg-job {background-image: $icon-briefcase;} // TODO -- add new icon for ITN
//  .icon-NED .cover {background: rgba(saturate(darken($primary-color-1,20%),20%),0.7);}
//  .icon-TCH .cover {background: rgba(saturate(darken($tch-brand-color,20%),20%),0.7);}
//  .icon-FDN .cover {background: rgba(saturate(darken($fdn-brand-color,20%),20%),0.7);}
//  .icon-WD .cover {background: rgba(saturate(darken($wd-brand-color,20%),20%),0.7);}
//  .icon-ID .cover {background: rgba(saturate(darken($id-brand-color,20%),20%),0.7);}
//  .icon-BT .cover {background: rgba(saturate(darken($bt-brand-color,20%),20%),0.7);}

 //general
 .icon {
  width: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .cover {
   padding: 0.8em 0.2em;
  }
  img.brand-logo {
   width: 30px;
   height: 30px;
   display: block;
   margin: 0 auto 0.5em;
  }
  span.item-title {
   display: block;
   color: $white;
   font-weight: 700;
  }
 }
}

.basket-item-description {
 h5 {
  margin-bottom: 0.3em;
 }
}
.basket-item-price {
 text-align: right;
 font-weight: 700;
 margin-bottom: 1em;
}

.add-address {

}


