/*--------------------------------------------------------------------------
          Styles for the Checkout Page
 --------------------------------------------------------------------------*/

.address-contents {
 background: $white;
 padding: 1em;
}

.add-address {
 margin-bottom: 2em;
 .field-box {
  position: relative;
  padding-bottom: 2em;
 }
 label {
  display: none;
 }
 .create-address.btn {
  margin-top: 0 !important;
 }
}