/*--------------------------------------------------------------------------------------------
                         Corporate Features Bar Marketing site Styles
 --------------------------------------------------------------------------------------------*/

 .corporate-features__list {
     padding: 1.2rem;
     background-color: $primary-color-2;
     list-style: none;
     padding-left: 0;
     display: flex;
     flex-wrap: wrap;
     @include mq($until: sph) {
         padding: 2em 0 0
     }
     &-item {
        color: $white;
        text-align: center;
        margin-bottom: 2em;
        @include mq($from: sph) {
            margin-bottom: 0;
        }
        .icon {
            height: 24px;
            width: 24px;
            fill: $white;
            &__title {
                font-size: 0.8em;
            }
        }
     }
 }