/*--------------------------------------------------------------------------------------------
                         Marketing site Daily Journal component
 --------------------------------------------------------------------------------------------*/

.daily-journal {
    .journal {
        &__main {
            background-size: cover;
            background-position: center;
            min-height: 480px;
            .journal__main-inner {
                padding: 2em;
                .title {
                    text-transform: uppercase;
                }
            }    
        }
        &__secondary {
            min-height: 480px;
            &-container {
                .journal-section {
                    min-height: 240px;
                    &--twitter,
                    &--right-top,
                    &--latest,
                    &--right-bottom {
                        height: 100%;  
                        padding: 1em;
                        .title {
                            font-weight: 300;
                            text-transform: uppercase;
                            margin: 0 0 1em;
                        }                   
                        .view-more {
                            text-transform: uppercase;
                            position: absolute;
                            bottom: 15px;
                            right: 30px;
                        }
                    }
                    &--twitter {
                        position: relative;
                        text-align: center;
                        .title-twitter {
                            font-weight: 600;
                            font-size: 1em;
                            margin: 0 0 1em;
                        }
                        .icon {
                            position: absolute;
                            bottom: 15px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                    &--right-top {
                        position: relative;
                        background-size: cover;
                        background-position: center;

                    }
                    &--latest {
                        background-position: center;
                        background-size: cover;

                    }
                    &--right-bottom {

                    }
                }
            }
        }
    }
}