/*--------------------------------------------------------------------------------------------
                         Features Bar Styles
 --------------------------------------------------------------------------------------------*/

.features-bar {
    &__title {
        font-size: 1.8em;
        font-weight: 700;
    }
    &__desc {
        font-size: 1em;
    }
    &--trusted-by {
        .title {
            margin-bottom: 0;
        }
    }
}