/*--------------------------------------------------------------------------
                  Feed RSS list
 --------------------------------------------------------------------------*/

 .feed {
    &__content {
        .content__list {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
}

// .feed {
//     .content__item {
//         height: 14em;
//         .rss {
//             &__image {
//                 height: 100%;
//                 overflow: hidden;
//                 &--image {
//                     height: 100%;
//                     object-fit: cover;
//                 }
//             }
//         }
//         .rss__content {
//             &--title {
//                     margin: 0 0 0.7em;
//                     line-height: 1em;
//             }
//             &--published {

//             }
//             &--publisher {
//                 color: $secondary-color;
//             }
//             &--snippet {
//                 margin-bottom: 1.8em;
//             }
//         }
//     }
// }

.feed {
    .content__item {
        @include transition($fast-ease);
        &:hover,
        &:focus,
        &:active {
          box-shadow: 4px 4px 24px rgba($black,0.3);
        }
        @include mq($until:sph) {
            margin-bottom: 1em;
          }
          @include mq($from:sph) {
            margin-bottom: 2em;
          }
    }
}

.feed {
    .content__item {
        background-color: lighten($grey-light, 12%);
        box-shadow: 0 0 12px rgba(31,31,31,.2);
        position: relative;
        padding-bottom: 1em;
        .rss__content {
            &--publisher {
                background-color: lighten($grey-light, 8%);
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;
                height: 2em;
                h4 {
                    text-transform: uppercase;
                    font-weight: 400;
                    margin: 0;
                    padding-top: 0.5em;
                    padding-left: 16px;
                }
            }
            &--title {
                margin-right: 115px;
                padding: 0 16px;
                line-height: 1em;
                margin-bottom: 0.5em;
                    a {
                        color: $primary-color-1;
                    }
            }
            &--published {
                padding: 0 16px;
            }
            &--snippet {
                margin: 0 115px 22px 0;
                padding: 0 16px;
            }
            &--read-more {
                display: inline;
                padding: 0 16px;
            }
            &--image-container {
                padding: 0 16px;
                position: absolute;
                bottom: 16px;
                right: 0;
                width: 100px;
                .rss-image {
                    display: inline-block;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}