/*--------------------------------------------------------------------------
                  Feed Header
 --------------------------------------------------------------------------*/

 .feed__content {
    .content__header {
        margin-bottom: 1em;
        position: relative;
        &--welcome {
            @include mq($until: tb) {
                text-align: center;
            }
            .welcome {
                font-weight: 400;
            }
        }
        &--quick-links {
            position: absolute;
            bottom: 0;
            right: 0;
            padding-left: 3em;
            @include mq($until: tb) {
                position: static;
                text-align: center;
                padding: 0;
            }
            .links {
                &__title {
                    font-size: 12px;
                    font-weight: 300;
                    text-transform: uppercase;
                }
                &__list {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    line-height: 1.5;
                    &--item a {
                        font-size: 10px;
                        color: $secondary-color;
                    }
                }
            }
        }
        &--advert {

        }
    }
}