/*--------------------------------------------------------------------------------------------
                         Marketing site Homepage Hero
 --------------------------------------------------------------------------------------------*/

 .homepage-hero {
     .mask {
        min-height: 90vh;
        // background: $gradient-home-hero,$homepage-hero;
        background-size: cover;
        padding: 0 0 3em 0;
        display: flex;
        align-items: center;
        @include mq($until: tb) {
            padding: 2em 0 3em;
            overflow: hidden;
        }
        .hero-container {
            min-height: 100%;
            > .row {
                min-height: 100%;
            }
            .homepage-hero {
                &__cta {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .cta {
                        &__title {
                        color: $white;
                        }
                        &__buttons {

                        }
                        &__logos-list {
                            .logos-list {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            .logos-list__item {
                                filter: brightness(0) invert(1);
                                width: auto;
                                max-height: 45px;
                            }
                        }
                        }
                    }
                }
                &__slider {
                    @include mq($until: tb) {
                        display: none;
                    }
                    position: relative;
                    background-image: $homepage-hero;
                    background-size: cover;
                    height: 660px;
                    width: 660px;
                        .slider__mask--overlay-w {
                            content: '';
                            position: absolute;
                            z-index: 4;
                            width: 0;
                            height: 0;
                            border-top: 163px solid transparent;
                            border-left: 294px solid $white;
                            border-right: 294px solid transparent;
                            border-bottom:  163px solid transparent;
                            bottom: 167px;
                            left: 44px;
                            opacity: 0.8;
                        }
                    .slider__mask {
                        position: relative;
                        top: 26px;
                        left: -3px;
                        z-index: 3;
                        margin: 2em;
                        clip-path: polygon(50% 5%,90% 28%,90% 74%,50% 97%,10% 74%,10% 28%);
                        
                    }
                }
            }
        }
    }
}