/*--------------------------------------------------------------------------------------------
                          Styles for the jobs search results
 --------------------------------------------------------------------------------------------*/



.job-item {
  .item-body {
    position: relative;
    background-color: darken($white,2%);
    border-radius: $border-radius;
    @include transition($fast-ease);
    overflow: hidden;
    margin-bottom: 30px;
    @include mq($until:sph) {
      min-height: 340px;
      padding-bottom: 120px;
    }
    @include mq($from:sph, $until:tb) {
      height: 400px;
    }
    @include mq($from:tb) {
      height: 400px;
    }
    box-shadow: 0 0 12px rgba($black,0.2);
    &:hover {
      box-shadow: 0 0 24px rgba($black,0.4);
    }
  }
  &__type {
    padding: $baseline $baseline 0;
    background-color: darken($white,5%);
    height: $baseline *2;
  }
  &__buttons.pos-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    .btn {
      background-color: transparent;
      color: $primary-color-2-90;
      .label {
        font-weight: 400;
        line-height: 32px;
        min-height: 32px;
        text-transform: uppercase;
        padding: 0;
        float: none;
        text-align: center;
      }
      .label-again {
        font-weight: 400;
        line-height: 32px;
        min-height: 32px;
        text-transform: uppercase;
        color: $secondary-color;
        padding: 0;
      }
    }
  }
  &__title {
    font-family: $ff-OpenSans;
  }
  &__description {
    h6 {
      font-size: 110%;
      font-weight: 600;
    }
    p {
      line-height: 1.2;
    }
  }
  &__status {
    font-size: 0.8em;
    padding: 0.8em 1em;
    border: 1px solid;
    margin-bottom: 1em;
    display: block;
  }
  &__company-logo {
    width: 100%;
    max-width: 3rem;

    float: right;
  }

  &--result {
    .job-item {
      &__description, &__details, &__buttons {
        padding: $baseline;
      }
    }
  }
  &--saved {
    border-top: 1px solid $grey-light;
    padding: $baseline 0;
    &:last-child {
      border-bottom: 1px solid $grey-light;
    }
    .job-item {
      &__description, &__details, &__buttons {
        padding: $baseline 0;
      }
    }
    @include mq($until: sph) {
      .buttons-left {
        li {
          margin-bottom: 0.6em;
        }
      }
      .buttons-right {
        text-align: left;
      }
    }
  }

  .job-type {
    font-family: $ff-OpenSans;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    position: relative;
    padding-bottom: 0.8em;
    margin: 0;
    &--exclusive {
      &:after {
        background-color: $primary-color-2;
      }
    }
    &--featured {
      &:after {
        background-color: $primary-color-2;
      }
    }
    &--premium {
      &:after {
        background-color: $primary-color-2;
      }
    }
    &--standard {
      &:after {
        background-color: $primary-color-2;
      }
    }
    &:after {
      content: '';
      display: block;
      width: 100px;
      height: 4px;
      @include border-radius(1px);
      position: absolute;
      left: 0;
      bottom: -2px;
    }
  }
}

.job-status {
  &--applied {
    background-color: lighten($primary-color-2,30%);
    color: darken($primary-color-2,20%);
    border-color: lighten($primary-color-2,25%);
  }
}
