/*--------------------------------------------------------------------------------------------
                          Styles for the jobs side nav
 --------------------------------------------------------------------------------------------*/


.jobs-nav {
  @include list-reset();
  li {
    margin-bottom: 0.5em;
    a {
      text-decoration: none;
    }
  }
  .label {
    font-size: 1.1em;
    font-weight: 300;
    color: $tertiary-color;
    text-transform: uppercase;
    background: none;
    border: none;
    padding: 0;
    outline: none;
    position: relative;
    @include transition($fast-ease);
  }
  @include mq($from: sph){
    padding-top: 80px;
    text-align: right;
    .label {
      text-align: right;
      &:after {
        width: 1em;
        height: 1em;
        display: block;
        position: absolute;
        top: 4px;
        right: -1em;
        content: '\f100';
        font-family: 'FontAwesome';
        opacity: 0;
        @include transition($fast-ease);
      }
      &:hover {
        text-decoration: none;
        padding-right: 1em;
        &:after {
          right: 0;
          opacity: 1;
        }
      }
    }
  }
}