#nprogress {
	pointer-events: none
}

#nprogress .bar {
	background: $pomegranate;
	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;
	width: 100%;
	height: 5px
}

#nprogress .peg {
	display: block;
	position: absolute;
	right: 0;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px $pomegranate,0 0 5px $pomegranate;
	opacity: 1;
	-webkit-transform: rotate(3deg) translate(0,-4px);
	-ms-transform: rotate(3deg) translate(0,-4px);
	transform: rotate(3deg) translate(0,-4px)
}

#nprogress .spinner {
	display: block;
	position: fixed;
	z-index: 99999;
	top: 14px;
	left: 14px
}

#nprogress .spinner-icon {
	width: 25px;
	height: 25px;
	box-sizing: border-box;
	border: 2px solid transparent;
	border-top-color: $pomegranate;
	border-left-color: $pomegranate;
	border-radius: 50%;
	-webkit-animation: nprogress-spinner 400ms linear infinite;
	animation: nprogress-spinner 400ms linear infinite
}

.nprogress-custom-parent {
	overflow: hidden;
	position: relative
}

.nprogress-custom-parent #nprogress .bar,.nprogress-custom-parent #nprogress .spinner {
	position: absolute
}

@-webkit-keyframes nprogress-spinner {
	0% {
		-webkit-transform: rotate(0deg)
	}

	100% {
		-webkit-transform: rotate(360deg)
	}
}

@keyframes nprogress-spinner {
	0% {
		transform: rotate(0deg)
	}

	100% {
		transform: rotate(360deg)
	}
}