/*--------------------------------------------------------------------------------------------
                         Marketing site Package Styles
 --------------------------------------------------------------------------------------------*/

.packages {
    margin-top: 3em;
    margin-bottom: 3em;
    .packages-list {
        list-style: none;
        padding-left: 0;
        &__item {
            background-color: $primary-color-1;
            color: $white;
            @include mq($until: tb) {
                margin-bottom: 2em;
            }
            hr {
                border-top: 1px solid $white;
            }
            &.specialist {
                background-color: $primary-color-1-20;
                color: $text-color;
                hr {
                    border-top: 1px solid $text-color;
                }
            }
            .package-item {
                padding: 1.5em 2em;
                &__title,
                &__subtitle,
                &__price,
                &__price-subtitle {
                    text-align: center;
                    margin-bottom: 0;

                }
                &__title {
                }
                &__subtitle {

                }
                &__price {
                    font-size: 1.2em;
                    font-weight: 700;
                }
                &__price-subtitle {

                }
                &__description {
                    margin: 0;
                    p {
                        margin: 0;
                    }
                }
                &__button {
                    margin-top: 2.25em;
                }
            }
        }
    }
}