/*--------------------------------------------------------------------------
          Styles for Pagination
 ----------------------------------------------------------------------------*/

.pages {
  color: $alert-color;
}

.pagination {
  > li {
    > span {
      border: none;
      height: 48px;
      width: 48px;
      color: $tertiary-color;
      margin: $baseline / 20;
      background: $white;
      padding-top: 12px;
      cursor: pointer;
      &:first-child,
      &:last-child {
        border-radius: 0;
      }
      &:hover {
        cursor: pointer;
        color: $white;
        border-bottom: 1px $primary-color-2 solid;
      }
      button {
        border: none;
      }
    }
  }
  > .active > span {
    border: none;
    height: 48px;
    width: 48px;
    margin: $baseline / 20;
    background-color: $primary-color-1;
    border-bottom: 1px $primary-color-2 solid;
    cursor: pointer;
      &:hover {
        cursor: pointer;
        border-bottom: 3px $primary-color-2 solid;
        background-color: $primary-color-1;
      }
    }
  }

@include mq($until: mb) {
  .pagi-begin,
  .pagi-end {
    display: none;
  }
}
