.payment-form-layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.payment-form {
    &__title {
        color: $pomegranate;
    }
    &__secondary-title {
        margin-bottom: 1rem;
    }
    &__price-text {
        margin-bottom: 0.85rem;
    }
    &__input {
        font-size: 0.8rem;
    }
    .form-group {
        margin-bottom: 1rem;
    }
}