// // -----------------------------------------------------------------------------
// // This file contains CSS for sliders
// // -----------------------------------------------------------------------------

//vars for colo-masks (transparency and saturation levels)
$transp-mask: 0.7;
$sat-lvl: 40%;

.items-slider {
 .item-slide {
  border: 1px solid $white;
  .text-box {
   padding: 1em;
   position: relative;
   min-height: $baseline * 8;
   .item-title {
    color: $white;
    font-weight: 400;
   }
   p {
    color: $white;
    &.item-date {
     font-size: 0.8em;
    }
   }
   .pos-bottom {
    bottom: 1em;
    left: 1em;
   }
  }
  &:nth-child(n)  {
   .color-mask {background: rgba(saturate(darken($primary-color-1-90,10%),$sat-lvl),$transp-mask);}
  }
  &:nth-child(2n + 0) {
   .color-mask {background: rgba(saturate(darken($primary-color-2-90,10%),$sat-lvl),$transp-mask);}
  }
  &:nth-child(3n + 0) {
   .color-mask {background: rgba(saturate(darken($secondary-color-90,10%),0),$transp-mask);}
  }
  &:nth-child(4n + 0) {
   .color-mask {background: rgba(saturate(darken($tertiary-color-90,20%),$sat-lvl),$transp-mask);}
  }
 }
 .background-image {
  background: $tertiary-color url('/images/video-placeholder.jpg');
  background-size: cover;
 }
 button.slick-arrow {
   &.slick-next {
    height: $baseline * 2;
    width: $baseline * 2;
    background: $primary-color-2;
    border-radius: $border-radius;
    right: -($baseline * 2);
    &:before {
     content: "\f105";
     font-family: FontAwesome;
     font-style: normal;
     font-weight: normal;
    }
   }
   &.slick-prev {
    height: $baseline * 2;
    width: $baseline * 2;
    background: $primary-color-2;
    border-radius: $border-radius;
    left: -($baseline * 2);
    &:before {
     content: "\f104";
     font-family: FontAwesome;
     font-style: normal;
     font-weight: normal;
    }
   }
   @include mq($until: dss) {
    &.slick-next {
        height: $baseline * 2;
        width: $baseline * 2;
        background: $white;
        border-radius: $border-radius;
        top: $baseline * 1.5;
        right: $baseline;
        &:before {
         content: "\f105";
         font-family: FontAwesome;
         font-style: normal;
         font-weight: bold;
         color: $primary-color-2;
        }
       }
       &.slick-prev {
        height: $baseline * 2;
        width: $baseline * 2;
        background: $white;
        border-radius: $border-radius;
        top: $baseline * 1.5;
        left: $baseline;
        z-index: 2;
        &:before {
         content: "\f104";
         font-family: FontAwesome;
         font-style: normal;
         font-weight: bold;
         color: $primary-color-2;
        }
    }
  }
 }
}


// ------ Roles Carousel on Marketing Site ----- //
// TODO refactor the shiv out of this!
.roles-carousel {
  height: 30em;
  margin-top: 3em;
  margin-bottom: 3em;
  .slick-slider {
    .slick-list {
      .slick-slide {
        .role-card {
          background-color: lighten($grey-light, 10%);
            margin: 0 1.5em;
            min-height: 24em;
            padding: 2em;
            position: relative;
            @include transition($fast-ease);
            .role-card__body {
              opacity: 0.6;
              @include transition($slow-ease);
              .role {
                &__card-title {
                  margin-bottom: 1em;
                }

                &__description {
                  p {
                    margin-bottom: 1em;
                  }
                }
              }

              .job-info {
                margin-bottom: 1.3em;
                &__title,
                &__salary {
                  font-size: 0.9em;
                  margin-bottom: 0.5em;
                }
              }
                  a {
                    &.btn-primary {
                      position: absolute;
                      bottom: 2em;
                      left: 2em;
                  }
              }
              .btn-primary {
                position: absolute;
                      bottom: 2em;
                      left: 2em;
              }
              p {
                font-size: 0.9em;
              }
            }
          }
          &.slick-center,
          &.slick-current {
            .role-card {
              background-color: lighten($grey-light, 5%);
              margin: 0 1.5em;
              min-height: 26em;
              padding: 2em;
              position: relative;
              .role-card__body {
                opacity: 1;
                .role {
                  &__card-title {
                    margin-bottom: 1em
                  }

                  &__description {
                    p {
                      margin-bottom: 1em;
                    }
                  }
                }

                .job-info {
                  margin-bottom: 1.4em;
                  &__title,
                  &__salary {
                    font-size: 0.9em;
                    margin-bottom: 0.6em
                  }
                }

                    a {
                      &.btn-primary {
                        position: absolute;
                        bottom: 2em;
                        left: 2em;
                    }
                }
                p {
                  font-size: 0.9em;
                }
              }
            }
          }
        }
      }
      .slick-arrow {
        &:before {
          content: '';
        }
        svg {
          @include mq($until: tb) {
            display: none;
          }
        }
      }
    }
  }
