/*--------------------------------------------------------------------------------------------
                         Marketing site Subscription component
 --------------------------------------------------------------------------------------------*/

 .subscribe {
     background-color: $primary-color-2;
     padding: 2.4em 0;
     .subscribe-container {
         @include mq($until: mb) {
         padding: 0 15px;
         }
         .subscribe {
             &__cta {
                 display: inline-block;
                .title {
                    color: $white;
                    font-weight: 300;
                    margin: 0;
                }
             }
             &__input {
                display: inline-block;
                .input-group {
                    .form-control {
                        background-color: rgba($white, 0.4);
                        border: 1px solid rgba($white, 0.4);
                        color: $text-color;
                    }
                }
             }
         }
     }
 }