/*--------------------------------------------------------------------------
          					Styles for the Tabs
 --------------------------------------------------------------------------*/

.tabs-body {
	margin-bottom: 2em;
}

ul.tabs-nav {
	margin: 0;
	li {
		overflow: hidden;
		&:first-child {
			@include border-radius($border-radius 0 0 $border-radius);
			border-right: 0;
		}
		&:last-child {
			@include border-radius(0 $border-radius $border-radius 0);
			border-left: 0;
		}
		button, a {
			border: none;
			display: block;
			width: 100%;
			font-size: 13px;
			background: $white;
			color: $tertiary-color;
			padding: 0.8em 1em;
			@include mq($from: sph) {
				font-size: $base-font-size;
			}
			&:hover,
			&:focus {
				border: none;
				outline: none;
				background: shade($white, 5%);
			}
		}
	}
}

.nav-default.forum-nav>li.active>a,
.nav-default.forum-nav>li.active>a:focus,
.nav-default.forum-nav>li.active>a:hover {
	color: $white;
}