/*--------------------------------------------------------------------------------------------
                         Marketing site testimonials component
 --------------------------------------------------------------------------------------------*/

.testimonials {
    height: 488px;
    overflow: hidden;
    .mask {
        padding: 1em 0;
        height: 100%;
        .testimonials-container {
            height: 100%;
            .title {

            }
            .carousel {
                height: 100%;
                .carousel-inner {
                    .carousel-item {
                        &__image {
                            img {
                                max-height: 488px;
                            }
                        }
                        &__text {
                            .title {
                                font-weight: 300;
                            }
                            .company-name {
                                margin: 0 0 2em;
                                text-transform: uppercase;
                                font-weight: 300;
                                letter-spacing: 0.5em;
                            }
                        }
                    }
                }
                .carousel-indicators {
                    // position: absolute;
                    // bottom: 0;
                }
            }
        }
    }
}