// -------- 404 Page -------- //

.notfound {
	display: inherit;
	flex-direction: row;
}

.notfound-body {
	background : url('/images/background-exclamation-mark.jpg') no-repeat bottom right;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	flex: 1 0 auto;
	min-height: 79vh;
}

.mobile-padding-top {
	@include mq($until: sph) {
		padding-top: 95px;
	}
}

.heading {
  &.white {
	  line-height: 0.9;
  }
}
