// -------- STYLES FOR  INTERNAL ERRORS -------- //

.page-internal-error {
  @include background-image($bg-network-triangles, left top, no-repeat, 40%);
  min-height: 36em;
  min-height: 80vh;
  padding: 6em 2em;
  padding: 12vh 2em;
  .icon {
    max-width: 200px;
    margin: 0 auto 2em;
  }
  .logo {
    width: 100%;
    max-width: 300px;
    margin-bottom: 2em;
  }
  h6 {
    color: $primary-color-1;
  }
  @include mq($until:tb) {
    text-align: right;
    @include background-image($bg-network-triangles, left top, no-repeat, 90%);
  }
}