/*--------------------------------------------------------------------------
          Styles for the Common Elements on settings and help
 --------------------------------------------------------------------------*/

.account-settings, .account-help {
  list-style: none;
  padding: 0;
  margin: 0 0 2em;
  li {
    background: lighten($grey-light,10%);
    a {
      display: block;
      border-left: 4px solid;
      border-color: transparent;
      color: $text-color;
      padding: 0 4px;
      @include transition($fast-ease);
      span {
        @include transition($fast-ease);
        display: block;
        padding: 1em 1.4em;
        border-bottom: 1px solid lighten($tertiary-color, 30%);
      }
      &:hover,
      &:focus {
        text-decoration: none;
        span {
          padding-left: 2em;
          color: $text-color;
        }
      }
    }
  }
}

.form-preferences { 
	margin-bottom: 2em;
}