/*----------------------------------------------------------
          Styles for Courses ... and modules of courses
 -----------------------------------------------------------*/

.courses-body, .course-view-body, .module-body {
  /*---- Tiles ----*/
	
	.course-list {
		margin-bottom: 2em;
		.tile {
			.color-mask {
				height: inherit;
			}
			&:nth-child(n)  {
				.color-mask {background: rgba(saturate(darken($primary-color-1-90,10%),$sat-lvl),$transp-mask);}
			}
			&:nth-child(2n + 0) {
				.color-mask {background: rgba(saturate(darken($primary-color-2-90,10%),$sat-lvl),$transp-mask);}
			}
			&:nth-child(3n + 0) {
				.color-mask {background: rgba(saturate(darken($secondary-color-90,10%),0),$transp-mask);}
			}
			&:nth-child(4n + 0) {
				.color-mask {background: rgba(saturate(darken($tertiary-color-50,20%),$sat-lvl),$transp-mask);}
			}
		}
	}
	
	
	.course-item {
    @extend .tile-item;
    * {
      color: $white;
    }
    .tile-background-image {
			@include background-image($bg-tile-course, center, no-repeat, cover);
      width: 100%;
      height: 160px;
    }
  }
  /*---- Individual courses ----*/
  .course-header, .course-description, .course-module-slider {
    margin-bottom: 3em;
  }
  .video-courses {
    margin-bottom: 3em;
  }
  .video-teaser-courses {
    @extend .video-courses;
    width: 100%;
    min-height: 641px;
    background: $black;
    color: $white;
  }
  /*---- Sliders ----*/
  .course-module-slider {
    @extend .items-slider;
    .item-slide {
      .text-box {
        height: $baseline * 6;
      }
    }
  }
}

/*----- Course Tiles -----*/

.courses-tile-background-image {
  height: $baseline * 10;
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

.courses-tile-info {
  color: $tertiary-color;
  padding: $baseline;
}

.courses-tile-background {
  background: $grey-light;
  position: relative;
  height: $baseline * 10;
  padding: $baseline;
  &:hover,
  &:focus,
  &:active {
    //box-shadow: 0 22px 24px 0 rgba(46,51,51,0.07);
  }
  ul.buttons {
    text-align: left;
    li {
      margin: $baseline;
    }
  }
}

.star {
  background: url("/images/icons/Gold_Star.png");
  height: 24px;
  width: auto;
  margin-top: $baseline / 4;
  margin-left: 74%;
}

.courses-applied {
  float: right;
  margin-top: 6px;
  padding-right: $baseline;
}

.courses-saved {
  float: right;
  margin-top: 6px;
  padding-right: $baseline / 2;

}

/*----- Individual course -----*/

.course-title-single {
  padding-bottom: $baseline /6;
}

.course-industry {
  font-weight: 500;
  margin-bottom: $baseline / 6;
  padding-bottom: $baseline /6;
}

.course-location {
  font-weight: 500;
}




