/*--------------------------------------------------------------------------
          Styles for the Forums
 --------------------------------------------------------------------------*/

/*-------- Tabbed Nav ---------*/
.forum-body {
  margin-bottom: 2em;
  .new-discussion {
    display: block;
    @include mq($from:tb) {

    }
    @include mq($from:tb) {

    }
    margin: 2em auto !important;
  }
  a.new-discussion {
    display: inline-block;
  }
}
ul.forum-nav {
  margin: 0 auto 2em;
  text-align: center;
  li {
    &:first-child {
      overflow: hidden;
      @include border-radius($border-radius 0 0 $border-radius);
    }
    &:last-child {
      overflow: hidden;
      @include border-radius(0 $border-radius $border-radius 0);
    }
    @include mq($until: sph) {
      display: table;
      height: 44px;
      a {
        line-height: 1;
        display: table-cell;
        vertical-align: middle;
        padding: 0.1em !important;
      }
    }
  }
}

.nav.forum-nav>li>a {
  //font-size: 13px;
  background: $white;
  color: $tertiary-color;
  @include mq($until: sph) {
  }
  @include mq($from: sph) {
    font-size: $base-font-size;
  }
  &:hover,
  &:focus {
    background: shade($white, 5% );
  }
}

.nav-default.forum-nav>li.active>a,
.nav-default.forum-nav>li.active>a:focus,
.nav-default.forum-nav>li.active>a:hover {
  background: $primary-color-1;
  color: $white;
}

/*----- Categories Style -----*/

ul.category-list {
  overflow: hidden;
  li {
    width: (100%/3);
    @include mq($until: sph) {
      width: 100%;
    }
    float: left;
    padding: 0 1em;
    margin-bottom: 2em;
    .category-item {
      text-align: center;
      display: table;
      width: 100%;
      border-bottom: 4px solid $primary-color-2;
      height: 12em;
      padding: 1em;
      .dtc {
        vertical-align: middle;
      }
      h4 {
        color: $white;
      }
      h4, a {
        vertical-align: middle;

      }
      a{
        color: $white;
        text-decoration: underline;
        font-style: italic;
        &:hover,
        &:active,
        &:focus {
          color: $white;
          text-decoration: none;
        }
      }
    }
    &:nth-child(n) {
      .category-item {background: $primary-color-1;}
    }
    &:nth-child(2n) {
      .category-item {background: lighten($primary-color-1,10%);}
    }
    &:nth-child(3n) {
      .category-item {background: lighten($primary-color-1,5%);}
    }
    &:nth-child(4n) {
      .category-item {background: lighten($primary-color-1,15%);}
    }
  }
}

.category-name {
  @include mq($until: tb) {
    //font-size:24px;
  }
}

/*----- Threads list general styling --------*/

ul.category-list, ul.thread-list, ul.posts-list, .thread-box {
  list-style: none;
  margin: 0;
  li.thread-item, li.single-post, .thread-overview {
    padding: 2em;
    margin: 0 0 2em;
  }
}

/*----- Thread items styling for: Thread list | Full Thread View | Single Post --------*/

.thread-item, .thread-overview, .single-post {
  .read-more {
    color: $primary-color-2;
    font-style: italic;
    text-decoration: underline;
    &:hover,
    &:focus {
        color: lighten($primary-color-2, 5%);
    }
  }
  h4 {
    color: $primary-color-1;
    font-weight: 700;
  }
  p {
    text-align: justify;
  }
  ul.discussion-info {
    color: lighten($tertiary-color, 20%);
    font-size: 0.9em;
    padding: 1em 0 0;
    margin: 0;
  }
  @include mq($until:sph){
    // text-align: center;
    img.img-circle {
      margin-top: 2em;
    }
    ul.discussion-info {
      display: inline-block;
      border-bottom: 1px solid lighten($tertiary-color,40%);
    }
    .hr-search {
      margin: 1em auto;
    }
  }
}

.discussion-teaser-box {
  display: inline-block;
  color: $tertiary-color;
}
.discussion-info-box {
  ul.discussion-info {
    >strong {
      color: $primary-color-1;
    }
    a {
      color: $primary-color-1;
    }
    li {
      display: inline-block;
      margin: 0 2em 0 0;
      .detail-info {
        color: $primary-color-1;
        font-weight: 700;
      }
    }
  }
}
.user-profile-box {
  text-align: center;
  img {
    width: 120px;
    height: 120px;
    margin: 0 auto 1em;
    background: #ccc; }
  h6 {
    margin: 0;
  }
}

.discussion {
  display: inline-block;
  color: $tertiary-color;
  //margin: $baseline;
}

ul.single-post {
  list-style: none;
  margin: 0;
}


//Post comment
.write-post,
.create-post {
  margin-bottom: 2em;
  h3 {
    color: $white;
    margin: 0 0 0.5em;
  }
  label {
    display: none;
  }
  .btn {
    margin: 0;
  }
}
.write-post {
  padding: 2em;
  textarea {
      margin-bottom: 2em;
    max-width: 100%;
    min-height: 168px;
  }
}








//Other elements

.scroll-to-reply {
  margin: 0 0 3em;
}