/*----------------------------------------------------------
          Styles for Jobs
 -----------------------------------------------------------*/

.jobs-body {
  h1, h2, h3, h4, h5, h6 {
    font-family: $ff-OpenSans;
  }
  &__adverts {
    .slider-ads-top {
      margin: 0;
    }
  }
  .main--jobs {
    .section {
      padding: 0 0 2em;
      &:first-child:not(.jobs-body__hero) {
        padding-top: 4em;
      }
    }
  }


  // ---- MPU container styling ---- //

  .jobs-mpu {
    position: relative;
    overflow: hidden;
    @include background-image(url('/images/bg-jobs-mpu.jpg'), center, no-repeat, cover);
    margin-bottom: 30px;
    @include border-radius($border-radius);
    @include mq($until:sph) {
      min-height: 340px;
      padding-bottom: 120px;
    }
    @include mq($from:sph, $until:tb) {
      height: 400px;
    }
    @include mq($from:tb) {
      height: 400px;
    }
    .center-mpu {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 100%;
    }
  }
}

/*----- CTA bar (not Premium account) ---- */

.cta-bar {
  padding: 1em;
  margin-bottom: 2em;
  color: $white;
  font-weight: 600;
  text-align: center;
  @include mq($until: tb) {
    span {
      display: block;
      margin-bottom: 0.6em;
    }
  }
  @include mq($from: tb) {
    .btn {
      margin-left: $baseline;
    }
  }
}


/*----- Jobs Full view styles ---- */
.jobs-full-view-body {
  .cover__cv-service--image {
    background: url("/images/bg-cv-service.png") no-repeat center bottom;
    background-size: cover;
    padding: 3em 0;
    margin-bottom: 2.5em;
    @include mq ($until: sph){
      padding: 2em 0;
    }
    @include mq($from: sph, $until:dss) {
      padding: 2em;

    }
    .cover-title,
    .cover-copy {
      color: $white;
    }
  }
}

.jobs-full-view-body {
  .job-information__container {
    .logo-company-job-overview {
      min-width: 90px;
      max-width: 100%;
      @include mq($until: sph) {
        width: 200px;
        margin-bottom: 1em;
      }
    }
    .job-sectors-list-item,
    .job-location-list-item {
      display: inline-block;
      .first-industry {
        button {
          padding-left: 0;
          padding-bottom: 0;
          span.label {
            font-size: 16px;
            color: #4d4d4d;
            font-weight: 300;
            padding-left: 0;
            padding-bottom: 0;
          }
        }
      }
      margin-bottom: 0;
      .item-content {
        //display: inline-block;
        margin: 0;
        line-height: 20px;
        overflow: hidden;
        float: left;
        padding: 2px 0 0 7px;
        list-style: none;
        @include transition($fast-ease);
      }
      &.item-collapsed {
        .item-content {
          max-height: 20px;
        }

      }
      &.item-uncollapsed {
        .item-content {
          max-height: 500px;
        }
      }
      .job-sector-list,
      .job-location-list {
        float: left;
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}

.jobs-full-view-body {
  .job-details-box {
    .job-details {
      margin-bottom: 1em;
      p {
        margin-bottom: .2em;
      }
    }
    .job-apply-button {
      button, a {
        width: 100%;
      }
    }
    .cv-advert__container {
      background: tint($grey-light,60%);
      width: auto;
      padding: 5%;
      margin: 3em 0;
      .cv-advert__header {
        display: table;
        img {
          background-color: $primary-color-2;
          float:left;
          width: 60px;
          height: 60px;
          @include border-radius(50%);
          margin: 0 1em 1em 0;
        }
        h5 {
          @include mq($from: mb, $until: sph) {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
      button {
        width: 100%;
      }
    }
  }
}





/*----- Apply -----*/
.jobs-full-view-body {
  .form-group {
    .btn-upload-file {
      margin-bottom: 1em;
    }
    .help-block {
      font-size: 0.9em;
      i.fa {
        font-size: 1.2em;
        margin-bottom: -0.2em;
      }
    }
  }
}
