/*--------------------------------------------------------------------------
          Styles for the conversatins or Messages component
 --------------------------------------------------------------------------*/
.conversation-body {
  margin-bottom: 2em;
}

.conversation-box {
  height: $baseline * 32;
  padding: 1em;
  background: lighten($grey-light,10%);
}

.user-list-background {
  @extend .conversation-box;
  overflow-y: scroll;
  overflow-x: hidden;
  @include mq($until: sph) {
    height: auto;
  }
  .msg-conversation-user {
    color: $tertiary-color;
    font-family: $font-family-text;
    font-weight: 400;
    @include mq($from: sph, $until: tb) {
      font-size: 15px;
    }
  }
}
.msg-conversation {
  border-radius: $border-radius * 2;
  padding: 10px 14px;
}
.msg-pane {
  @extend .conversation-box;
  .messages-wrapper {
    padding: 0 1em;
    .single-message {
      display: block;
      overflow: hidden;
      margin-bottom: 1em;
      label {
        width: 90%;
        max-width: 400px;
        font-weight: 400;
        font-size: 0.9em;
      }
    }
  }
}
.receive-message {
  color: #fff;
  background-color: $primary-color-1;
  border: 1px solid $primary-color-2;
  background: $white;
  color: $tertiary-color;
}
.sent-message {
  color: #fff;
  background-color: $primary-color-1;
  background-color: lighten($primary-color-2, 20%);
  color: $tertiary-color;
}
.convo-pane {
  max-height: 530px;
  overflow-y: scroll;
}
.background-white {
  background: $white;
}