//----------------------------------------------------------\\
//        Styles for printing of webpages
//----------------------------------------------------------\\

@media print {
  @page {
    height:297mm;
    width:210mm;
    size: A4 portrait !important;
    margin: 0 !important;
  }
  *,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  blockquote{
    font-family: "Open Sans", Tahoma, sans-serif !important;
    font-weight: 700 !important;
    color: $tertiary-color !important;
    line-height: 1.25 !important;
  }
  h1 {
    font-size: 8mm !important;

  }
  h2 {
    font-size: 7.5mm !important;

  }
  h3 {
    font-size: 7mm !important;
  }
  h4 {
    font-size: 6.5mm !important;
  }
  h5 {
    font-size: 5mm !important;
  }
  h6 {
    font-size: 4mm !important;
  }
  p {
    font-size: 4mm !important;
    font-weight: 300 !important;
  }
  .small {
    font-size: 2mm !important;
  }
  ul {
    font-size: 2mm !important;
    font-weight: 400 !important;
  }
  blockquote {
    font-size: 3px !important;
    font-weight: 600 !important;
    text-indent: -0.41em !important;
  }
  hr {
    width: 80% !important;
    padding: 0 15px !important;
  }
  nav,
  header,
  footer,
  button,
  .btn,
  button.btn,
  .remove-heading,
  .cover-transparent,
  #livechat-compact-container,
  .homepage-slider {
    display: none !important;
    &:after,
    &:before {
      display: none !important;
    }
  }
  .padding-dble-left {
    padding-left: $baseline *2 !important;
  }
  .align-left {
    text-align: left !important;
  }
  .align-right {
    text-align: right !important;
  }
  .margin-bottom-none {
    margin-bottom: 0 !important;
  }
}