/*--------------------------------------------------------------------------
                Styles for settings page
 --------------------------------------------------------------------------*/

.settings-body {
  margin-bottom: 2em;
  margin-top: 4em;
  @include mq($until: tb) {
	  margin-top: 0;
  }
  h5.user-message {
	  margin: 0 0 2.25em;
  }
	.form-settings-basic {
		margin-bottom: 2em;
	}
	// --- transaction history ----
	.item-date {
		font-weight: 700;
		color: lighten($tertiary-color,30%);
		padding: 0.6em 0;
		text-align: right;
		display: inline-block;
	}
	.item-label {
		text-align: right;
		@include mq($until:sph) {
			font-size: 0.8em;
		}
		@include mq($from:sph) {
		}
	}
	.transactions-contents {
		.transaction-item {
			padding: 0.6em 0;
			.item-label {
				color: $tertiary-color;
			}
			&:nth-child(odd) {
				background: #eee;
			}
			.item-product-name {
				margin-bottom: 0.6em;
				display: inline-block;
			}
			@include mq($until:sph) {
				.item-label {
					font-size: 0.8em;
				}
			}
		}
		.item-package-product-list {
			list-style: none;
			padding: 0;
			margin: 0;
		}
		.buttons-right {
			li {
				margin-bottom: 0;
			}
		}
	}
	.transaction-total {
		padding: 1.0em 0 0;
		font-weight: 700;
	}


	/////////////////////

	.title--uppercase {
		text-transform: uppercase;
		letter-spacing: 0.2em;
		font-size: 1.4em;
		font-weight: 300;
		font-family: $ff-OpenSans;
	}
	.preferences-box {
		margin-bottom: 2em;

		.title--uppercase {
			text-transform: uppercase;
			font-family: $ff-OpenSans;
			font-weight: 300;
			letter-spacing: 0.2em;
			font-size: 1em;
			margin-bottom: 3em;
		}
		&__main {
			background-color: darken($white,5%);
			overflow: hidden;
			&.background--laptop {
				background-image: url('/images/preferences-laptop.png');
			}
			&.background--business-cards {
				background-image: url('/images/preferences-business-cards.png');
			}
			background-position: center right;
			background-repeat: no-repeat;
			background-size: auto 100%;
		}

		&__options {
			padding: 0 1em;
		}
	}
	.preferences-consent {

		&__body {
			float: left;
			position: relative;
			padding-left: 124px;
			@include mq($until: tb) {
				width: 100%;
				padding-right: 10%;
				$gradient-consent: linear-gradient(to right, rgba(darken($white,5%),0.95) 80%, rgba(darken($white,5%),0.8) 100%);
				@include background-gradient($gradient-consent);
			}
			@include mq($from: tb) {
				width: 70%;
				padding-right: 10%;
				$gradient-consent: linear-gradient(to right, darken($white,5%) 80%, rgba(darken($white,5%),0) 100%);
				@include background-gradient($gradient-consent);
			}
		}
	}
	.preferences-options {
		&__body {
			padding: 1.4em 2em 2em;
			background-color: darken($white,10%);
			border-top: 0.6em solid darken($white,15%);
		}
	}
	.preferences {
		&__checkbox {

			$checkbox-size: 54px;

			position: absolute;
			top: 0;
			left: 0;
			padding: 2em;
			.form-checkbox {
				width: $checkbox-size;
				height: $checkbox-size;
				border: 5px solid $grey-light;
				background-color: $white;
				@include border-radius(10px);
				position: relative;
				margin: 0 auto;
			}
			input[type=checkbox] {
				opacity: 0;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: $checkbox-size - 10px;
				height: $checkbox-size - 10px;
				display: block;
				z-index: 5;
				cursor: pointer;
				margin: 0;
			}
			label {
				color: $primary-color-2;
				position: absolute;
				left: 0;
				z-index: 2;
				opacity: 0;
				width: $checkbox-size - 5px;
				height: $checkbox-size - 5px;
				line-height: $checkbox-size - 5px;
				padding: 0;
				text-align: center;
				font-size: 32px;
				i {
					margin: 0;
				}
			}
			.checkbox__label {
				display: block;
				position: absolute;
				top: 90px;
				left: 0;
				width: 100%;
				margin: 0.5em 0;
				font-size: 10px;
				font-weight: 400;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				color: darken($grey-light,20%);
			}
			input[type=checkbox]:checked + label {
				opacity: 1;
			}
		}
		@include mq($from: tb) {
		}

		&__copy {
			padding: 2em 0;
			p {
				font-size: 90%;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.frequency {

		$size-spotlight: 80px;

		&--list {
			list-style: none;
			padding: 0;
			margin: 0;
			overflow: hidden;
			@include mq($until: mb) {
				max-width: 200px;
				margin: 0 auto;
			}
			li {
				display: inline-block;
				float: left;
				margin-bottom: 2em;
				@include mq($until: mb) {
					width: 100%;
				}
				@include mq($from: mb, $until: tb) {
					width: 50%;
					margin-bottom: 2em;
				}
				@include mq($from: tb) {
					width: 25%;
					max-width: 190px;
				}
			}
		}

		&__item {

			.frequency-option {
				padding-top: $size-spotlight + 20px;
				padding-left: 50px;
				position: relative;
			}

			.option {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: $size-spotlight;
				padding-left: 16px;
				&__spotlight {
					position: relative;
					width: $size-spotlight;
					height: $size-spotlight;
					background-color: $white;
					@include border-radius(50%);
					@include transition($fast-ease);
					@include mq($from: tb) {
						&:after {
							content: '';
							width: 200%;
							border-top: 2px dotted $white;
							position: absolute;
							top: 50%;
							left: 100%;
						}
					}
				}
				&__picture {
					width: 66px;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
			.option__spotlight.selected {
				background-color: $primary-color-2;
			  }
			&:last-child {
				.option__spotlight:after {
					display: none;
				}
			}
		}


		&--job-emails {

			$radio-size: 20px;

			.form-radio {
				padding-left: $radio-size*1.5;
				position: relative;
				&__radio {
					width: $radio-size;
					height: $radio-size;
					background-color: $white;
					@include border-radius(50%);
					margin: 0;
					position: absolute;
					top: 0;
					left: 0;
				}
				&__label {

				}
			}

			input[type=radio] {
				opacity: 0;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: $radio-size;
				height: $radio-size;
				display: block;
				z-index: 5;
				cursor: pointer;
				margin: 0;
			}

			label {
				position: absolute;
				left: 0;
				z-index: 2;
				opacity: 0;
				width: $radio-size*0.5;
				height: $radio-size*0.5;
				margin: $radio-size*0.25;
				@include border-radius(50%);
				@include transition($fast-ease);
				padding: 0;
				i {
					margin: 0;
				}
			}

			input[type=radio]:hover + label {
				opacity: 0.5;
				width: $radio-size*0.6;
				height: $radio-size*0.6;
				margin: $radio-size*0.2;
			}

			input[type=radio]:checked + label {
				opacity: 1;
			}
			.label--radio {
				text-transform: uppercase;
				font-size: 0.8em;
				letter-spacing: 0.1em;
				line-height: $radio-size;
				display: block;
			}

		}

	}

}