/*----------------------------------------------------------
          Styles for Testmonials Page
 -----------------------------------------------------------*/
/*------- Testimonials -------*/
.testimonials-body {
	margin-bottom: 2em;
	.testimonials-list {
		margin-top: 4em;
	}
}

.item-review {
	text-align: center;
	margin-bottom: 2em;
	.frame-3 {
		padding: 3em;
	}
	i.fa {
		font-size: 3em;
		color: lighten($tertiary-color,50%);
		margin: 0 0 0.5em;
	}
	.review {
		p {
			font-weight: 600;
			text-align: center;
		}
		&:after {
			background: lighten($primary-color-2, 20%);
			display: block;
			margin: 0 auto 1.4em;
			content: '';
			width: 30px;
			height: 2px;
			@include border-radius(1px);
		}
	}
}