/*--------------------------------------------------------------------------
          Styles for the site tour
 --------------------------------------------------------------------------*/
.take-the-tour-body {
	margin-bottom: 2em;
}
.take-the-tour {
  width: 100%;
	height: 100%;
	@include mq($until:sph) {
		padding: 0 3em;
	}
	@include mq($from:sph, $until:tb) {
		padding: 0 3em;
	}
	@include mq($from:tb) {
		padding: 0 100px;
	}
	.height-100, .container, .row, .col-xs-12, .slick-list, .slick-track, .slick-slide, .dt {
		height: 100%;
	}
  .tutorial-body {
		position: relative;
		height: 100%;
		margin-bottom: 2em;
		//background: $white;
		//@include border-radius(4px);
		//padding: 2em;
		img {
			width: 100%;
			margin: 0 auto 1em;
		}
		img.icon {
			max-width: 80px;
		}
		.dt {
			min-height: 500px;
			.dtc {
				vertical-align: middle;
			}
		}
		//.tour-next, .tour-prev {
		//	position: fixed;
		//	top: 50%;
		//}
		//.tour-prev {
		//	left: 1em;
		//}
		//.tour-next {
		//	right: 1em;
		//}
		//.buttons-center {
		//	position: absolute;
		//	bottom: 3em;
		//	left: 0;
		//	width: 100%;
		//}
		ul.buttons-right {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			background: $black;
			padding: 0.8em;
			@include border-radius(0 0 4px 4px);
			li {
				margin: 0;
			}
			.btn-close-tutorial {
				color: $white;
				text-transform: uppercase;
				background: none;
				border: none;
				padding: 0;
				height: auto;
			}
		}
  }
	.skip-tutorial {
		position: fixed;
		top: 140px;
		right: 1em;
		.btn {
			@include mq($until:dsm){
				padding: 4px;
				span.label {
					display: none;
				}
				span.icon {
					width: 28px;
					height: 28px;
					i.fa {
						width: inherit;
						height: inherit;
						line-height: 28px;
						margin: 0;
					}
				}
			}
		}
	}
}

.slider-take-the-tour {
	img.itn-logo {
		margin: 0 auto 1em;
		width: 75%;
		max-width: 420px;
		display: block;
	}
	h4 {
		font-weight: 600;
	}
	.slick-prev, .slick-next {
		width: auto;
		height: 35.19px;
		position: fixed;
		bottom: 0;
		&:before, &:after {
			display: block;
			padding: 0.6em 0.8em;
			background: $primary-color-1;
			font-size: 16px;
			//text-transform: uppercase;
			opacity: 1;
			@include border-radius(4px);
			@include transition($fast-ease);
		}
		&:hover {
			&:before, &:after {
				background: darken($primary-color-1,10%);
			}
		}
	}
	@include mq($until:tb) {
		.slick-prev, .slick-next {
			height: 30px;
			width: 30px;
			&:before, &:after {
				width: 30px;
				height: 30px;
				line-height: 30px;
				font-family: 'FontAwesome';
				padding: 0;
			}
		}
		.slick-prev {
			left: 18px;
			&:before {
				content: '\f104';
			}
		}
		.slick-next {
			right: 18px;
			&:before {
				content: '\f105';
			}
		}
	}
	@include mq($from:tb) {
		.slick-prev, .slick-next {
			&:before, &:after {
				font-family: 'Lato';
			}
		}
		.slick-prev {
			left: 18px;
			&:before {
				content: 'Back';
			}
		}
		.slick-next {
			right: 18px;
			&:before {
				content: 'Next';
			}
		}
	}
	.slick-disabled {
		pointer-events: none;
		&:before {
			opacity: 0 !important;
		}
	}
}

.btn.btn-tour {
  background: $primary-color-2;
  color: $white;
  width: $baseline * 10;
  height: $baseline * 2;
  font-size: $baseline;
  padding: $baseline / 2;
  border-radius: $border-radius * 2;
  //margin: $baseline;
  &:hover,
  &:focus,
  &:active {
    background: $white;
    border: 1px solid $primary-color-2;
    color: $primary-color-2;
  }
}

.hr-tour {
	border-top: 1px solid $tertiary-color;
	width: 100%;
}