/*--------------------------------------------------------------------------------------------
          Styles for the Cv Writing page
 --------------------------------------------------------------------------------------------*/

.cvservices-body {
  margin-bottom: 2em;
}

.form-register {
  background: url("/images/bg-cvwriting.jpg") no-repeat;
  background-size: cover;
	background-attachment: fixed;
  background-position: center;
  .cover-transparent {
    @include mq($until:tb) {
      padding: 3em 0;
    }
    @include mq($from:tb) {
      padding: 5em 0;
    }
  }
  h1 {
    color: $primary-color-1;
    text-align: center;
    font-weight: 400;
    margin-bottom: 1em;
  }
  form.form-cover-register {
    background: $primary-color-1;
    padding: 3em;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    input {
      margin-bottom: 1em;
    }
  }
}

ul.list-cvwriting {
  margin: 4em 0 2em;
  li {
    padding:  0 1em;
    overflow: hidden;
    margin-bottom: 1em;
    float: none;
    span.custom-label, span.icon {
      display: block;
      float: left;
    }
    span.icon {
      width: 56px;
      margin-right: 1em;
    }
    span.custom-label {
      width: calc(100% - 1em - 56px);
      text-align: left;
    }
  }
  @include mq($until:sph) {
    text-align: left;
  }
  @include mq($from:sph) {
    text-align: center;
  }
}

