// --------- BUTTONS -------- //

.btn {
    &--cta-kiwi {
        font-size: 1.2em;
        padding: 0.8em 1.8em;
        border-radius: 50px !important;
        &.btn-icon {
            background-color: transparent;
            font-size: 1em;
            color: darken($primary-color-1, 40%);
            padding: 0;
            @include transition(all 0.3s ease);
            &:hover {
                color: $primary-color-1;
            }
            .btn-label {
                
            }
            .fa {
                margin-left: 0.7em;
            }
        }
    }
}