/*--------------------------------------------------------------------------
                  Wrappers
 --------------------------------------------------------------------------*/

.body-wrapper {
	position: relative;
	.box-content {
		padding-top: 3.7em;
		@include mq($until:tb) {
			padding-top: 0;
		}
	}
}