// ------------------------------------------------------------------ \\
// Default colours                                                     \\
// ------------------------------------------------------------------ \\

//https://flatuicolors.com/palette/ca

//aqua
$aqua-dark: rgba(1, 163, 164,1.0); //#01A3A4
$aqua-light: rgba(0, 210, 211,1.0);
//green
$green-dark: rgba(16, 172, 132,1.0);
$green-light: rgba(29, 209, 161,1.0);
//blue
$blue-dark: rgba(46, 134, 222,1.0);
$blue-dark-pastel: rgba(10, 189, 227,1.0);
$blue-light: rgba(84, 160, 255,1.0);
$blue-light-pastel: rgba(72, 219, 251,1.0);
//purple
$purple-main: rgba(51, 1, 54,1.0);
$purple-dark: rgba(52, 31, 151,1.0);
$purple-light: rgba(95, 39, 205,1.0);
//pink
$pink-dark: rgba(243, 104, 224,1.0);
$pink-light: rgba(255, 159, 243,1.0);
//yellow
$yellow-dark: rgba(255, 159, 67,1.0); //#FF9F43
$yellow-light: rgba(254, 202, 87,1.0);
//red
$red-dark: rgba(219, 65, 67,1.0);
$red-light: rgba(255, 107, 107,1.0);
//orange
$orange-light: rgba(255, 112, 53, 1);
//gray
$gray-dark: rgba(131, 149, 167,1.0);
$gray-light: rgba(200, 214, 229,1.0);
$gray-bg: rgb(242, 242, 242) !important;
//black
$black-dark: rgba(34, 47, 62,1.0); //#222F3E
$black-light: rgba(87, 101, 116,1.0);
//white
$white-primary: rgba(245, 245, 245, 1);

$primary-color-1: $purple-main !default;
$primary-color-2: $aqua-light !default;
$secondary-color: $red-dark !default;
$link-color: $primary-color-1 !default;
$hover-color: $primary-color-1 !default;
$text-color: $black-dark !default;
$alert-color: $red-dark !default;

// ------------------------------------------------------------------ \\
// Colour Helpers                                                     \\
// ------------------------------------------------------------------ \\

.primary-color {
    color: $primary-color-1;
}

.secondary-color {
    color: $secondary-color;
}