// -------- VARIABLES FOR FONTS -------- //

// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
// @import url('https://fonts.googleapis.com/css?family=Lato:400,700');
// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

// $ff-OpenSans: 'Open Sans', Helvetica, Sans-Serif;
// $ff-Lato: 'Lato', Helvetica, Sans-Serif;
// $ff-Montserrat: 'Montserrat', Helvetica, Sans-Serif;
// $ff-Roboto: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;

// @mixin font-full($font-size, $font-weight, $margin, $line-height) {
//   font-size: $font-size;
//   font-weight: $font-weight;
//   margin: $margin;
//   line-height: $line-height;
// }

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700');
$font-titillium: 'Titillium Web', sans-serif;

.text-gray {
    color: $black-light;
}

.text-dark {
    color: $black-dark;
}

.text-dark-header {
    @include header-style($black-dark);
}

.text-400 {
    font-weight: 400;
}

.text-600 {
    font-weight: 600;
}

.text-700 {
    font-weight: 700;
}