/*--------------------------------------------------------------------------------------------
                         Marketing site Default page styles can be found here
 --------------------------------------------------------------------------------------------*/

 // Background images
%background-image-settings {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    @include mq($until: tb) {
        background-attachment: scroll;
    }
}

.corporate-page,
.blog-single-article,
.homepage-container,
.payment-form-container,
.resources-page,
.development,
.online-courses,
.membership,
.business-services {
    background-image: $background-solid-hexagons;
    @extend %background-image-settings;
}

// .resources-page {
//     background-image: $background-hexagon-images;
//     @extend %background-image-settings;
// }

// .development,
// .membership,
// .business-services {
//     background-image: $background-solid-hexagons-images;
//     @extend %background-image-settings;
// }
