/*--------------------------------------------------------------------------
          Image styles
 --------------------------------------------------------------------------*/

.hexagonal-image {
    &__mask {
        clip-path: polygon(50% 5%,90% 28%,90% 74%,50% 97%,10% 74%,10% 28%);
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}