// -------- STYLES FOR BUTTONS -------- //

.product-box {
  font-size: 1.5rem;
  padding-top: 1em;
  .product-title {
    font-weight: 600;
    line-height: 1.2;
    font-size: 1.0em;
    margin-bottom: 1.5rem;
    color: $text-color;
  }
  .price-default {
    padding-top: 1.5rem;
    border-top: 1px solid;
    margin: 0 0 3rem;
    line-height: 1;
    .price-info {
      font-size: 0.4em;
    }
    span {
      display: inline-block;
    }
    .price {
      font-size: 2em;
      margin-right: 0.2em;
      font-weight: 300;
      color: $text-color;
    }
    .vat {
      font-size: 1em;
    }
  }
  @include mq($until: piad) {
    padding: 1em;
    .price {
      font-size: 1.4em;
      margin-right: 0.1em;
      display: block;
    }
    .vat {
      font-size: 0.7em;
      display: block;
    }
  }
}

.popup-default {
  .price-default {
    border-color: darken($white,30%);
  }
}
