// -------- STYLING FOR REVIEWS -------- //


blockquote {
  margin: 0;
  border: none;
  margin-bottom: 2em;
  position: relative;
  p {
    font-size: 0.8em;
    position: relative;
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .quote-text {
    &:after {
      margin: 1em 0;
      content: '';
      display: block;
      width: 100px;
      border: 1px solid rgba($black,0.2);
    }
  }
  &:before {
    content: '';
    width: 3em;
    padding-bottom: 100%;
    @include background-image($icon-quote, top center, no-repeat, 100%);
    position: absolute;
    top: -1em;
    left: -1em;
    z-index: 0;
    opacity: 0.2;
  }
}