// -------- COMMON SETTINGS FOR TOOLTIPS -------- //

.tooltip {
  &-inline {
    padding: 0 1em;
  }
  &-ok {
    color: darken($earls-green,10%);
    svg {
      position: relative;
      top: 0.2em;
      fill: darken($earls-green,10%);
    }
    i.fa {
      color: inherit;
    }
  }
}

//Tool Tips on profile
.tooltips__container {
  background-color: darken($white, 5%);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  max-width: 25em;
  height: auto;
  margin: 0 15px;
  position: absolute;
  top: 80px;
  right: 0px;
  z-index: 5;
  -webkit-box-shadow: -1px 7px 25px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 7px 25px -9px rgba(0,0,0,0.75);
  box-shadow: -1px 7px 25px -9px rgba(0,0,0,0.75);
  .tooltips__content {
    padding: 1em;
    .tooltips-content__inner {
      margin-bottom: .3em;
      .icon {
        &-checkmark {
          height: 1em;
          width: 1em;
          margin-right: .3em;
          fill: $primary-color-1;
        }
        &-close {
          height: 1em;
          width: 1em;
          margin-right: .3em;
          fill: $primary-color-2;
        }
      }
      .section-name {
        font-size: .85em;
      }
    }
  }
}