//----- Styles for Custom Checkboxes -----//


label {
  color: $text-color;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type=checkbox].css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type=checkbox].css-checkbox+label.css-label {
  padding-left: $baseline *3;
  height: 29px;
  display: inline-block;
  line-height: 26px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 16px;
  vertical-align: middle;
  cursor: default;
}

input[type=checkbox].css-checkbox:checked+label.css-label {
  background-position: 0 -29px;
}

.todo-check {
  background-image: url(/images/checkboxes/checkbox-circle.png);
  margin-right: 30px;
}
