/*--------------------------------------------------------------------------
          Vars for the images
 --------------------------------------------------------------------------*/

// PORTAL

$bg-tile-course: url('/images/video-placeholder.jpg');
$bg-tile-membership-profile: url('/images/bg-tile-membership-profile.jpg');
$bg-media-hub: url('/images/bg-media-hub.jpg');
$bg-webinars: url('/images/bg-webinars.jpg');
$bg-podcasts: url('/images/bg-podcasts.jpg');
$bg-members: url('/images/bg-members.jpg');
$bg-forum: url('/images/bg-forum.jpg');
$bg-documents: url('/images/bg-documents.jpg');
$bg-promo-business-talk: url('/images/business-talk.jpg');
$bg-promo-jobs: url('/images/bg-promos-jobs.jpg');
$bg-consultation: url('/images/bg-consultation.jpg');
$bg-meeting: url('/images/bg-meeting.jpg');
$bg-meeting-wd: url('/images/bg-meeting-wd.jpg');
$bg-businesswoman: url('/images/bg-businesswoman.jpg');
$bg-network-triangles: url('/images/bg-network-triangles.jpg');
$bg-meeting-glass-room: url('/images/bg-meeting-glass-room.jpg');
$bg-event-august: url('/images/event.jpg');
$bg-video: url('/images/bg-video.jpg');
$bg-manager: url('/images/bg-manager.jpg');
$bg-working-on-project: url('/images/bg-working-on-project.jpg');
$bg-woman-typing: url('/images/bg-woman-typing.jpg');
$bg-typing: url('/images/bg-typing.jpg');

$bg-people-hugging: url('/images/bg-people-hugging.jpg');

$pattern-floral: url('/images/pattern-floral.png');
$icon-quote: url('/images/icon_quote.png');

$pattern-logo_ITN: url('/images/pattern-logo_itn.png');

$dot-logo_ITN: url('/images/logos/logo_dot.png');

// MARKETING

$itn-logo-light-small: url('/static/images/logos/InTouchLogolight-small.png');
$itn-logo-dark-small: url('/static/images/logos/InTouchLogodark-small.png');

$dot-logo_ITN: url('/tatic/images/logos/logo_dot.png');

$homepage-hero: url('/static/images/backgrounds/hexagon_large.png');
$background-solid-hexagons: url('/static/images/backgrounds/background-solids.png');
$background-solid-hexagons-images: url('/static/images/backgrounds/background-hexagons-solids.png');
$background-hexagon-images: url('/static/images/backgrounds/background-hexagons.png');
