/*--------------------------------------------------------------------------------------------
          Styles for lists
 --------------------------------------------------------------------------------------------*/

ul.inline { //Extended Below
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  li {
    display: inline-block;
    float: left;
    .center-this {
      overflow: hidden;
      width: 180px;
      margin: 0 auto;
    }
  }
}

ul.inline-5 {
  @extend .inline;
  @include mq($until:mb) {
    li {width: 100%;}
  }
  @include mq($from:mb, $until:sph) {
    text-align: left;
    li {
      width: 50%;
      &:nth-child(3n + 0) {
        width: 100%;
      }
    }
  }
  @include mq($from:sph, $until:tb) {
    li {width: 33.333333%;}
  }
  @include mq($from:tb) {
    li {width: 20%;}
  }
}


.details {
  &--grey {
    list-style: none;
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    color: lighten($tertiary-color,20%);
  }

  &--right {
    @include mq($until: sph) {
      text-align: left;
    }
    @include mq($from: sph) {
      text-align: right;
    }
  }
}