// --------- BANNER -------- //

.kiwi-banner {
    margin-bottom: 2em;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    .banner-content {
        align-self: flex-start;
        &__heading {
            .kiwi-heading {
                margin-bottom: .1em;
            }
        }
        &__sub-heading {
            .kiwi-heading {
                margin-bottom: .5em;
            }

        }
    }
}