// --------- CONTACT FORM SECTION -------- //

.kiwi-contact-form {
    margin-bottom: 2em;
    .contact-form {
        padding-bottom: 2.1em;
        border-radius: 2px;
        .form {
            &__title {
                padding: 2em 2em 0.5em;
            }
            &__inputs {
                display: flex;
                flex-wrap: wrap;
                padding: 0 2em 1em;
                .form-input {
                    flex: 1 0 50%;
                    height: 100px;
                    @include mq($until: mb) {
                        flex-basis: 100%;
                    }
                    &:nth-child(odd):not(:last-child) {
                        padding-right: 15px;
                        @include mq($until: mb) {
                            padding: 0;
                        }
                    }
                    &:nth-child(even) {
                        padding-left: 15px;
                        @include mq($until: mb) {
                            padding: 0;
                        }
                    }
                    label {
                        display: block;
                        margin-bottom: 0;
                    }
                    input {
                        height: 3em;
                        width: 100%;
                        padding: 0 1em;
                        border: 0;
                        background-color: #FBFBFB;
                        @include transition(all 0.5s ease);
                        &:hover {
                            background-color: darken(#FBFBFB, 5%)
                        }
                    }
                    &__error {
                        color: red;
                    }
                }
            }
            &__button {
                margin: 0 2em;
                height: 80px;
                button {
                width: 100%;
                }
                .form-error {
                    color: red;
                    text-align: center;
                }
            }
        }
    }
}