// --------- CONTACT DETAILS SECTION -------- //

.kiwi-contact-details {

    &__background {
        padding: 3em 0 1em;
        h2.kiwi-heading {
            margin-bottom: 0.5em;
            @include mq($until: mb) {
                text-align: center;
            }
        }
        .contact-details {
            display: flex;
            flex-wrap: wrap;
            &__address {
                p {
                    font-size: 1.2rem;
                }
            }
            &__contact-list.contact {
                .contact {
                    &__list {
                        margin:0;
                        &-item {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
            &__social-media.social-media {
                .social-media {
                    &__list {
                        margin: 0;
                        &-item {
                            .social-network {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
            &__address,
            &__contact-list.contact,
            &__social-media.social-media {
                flex: 1 0 33%;
                @include mq($until: tb) {
                    flex: 50%;
                }
                @include mq($until: mb) {
                    text-align: center;
                    flex: 100%;
                }
                margin-bottom: 2em;
                h3.kiwi-heading {
                    font-weight: 400;
                }
            }
        }
    }
}