// --------- MAIN BANNER -------- //



@mixin kiwi-main-banner-align-left(){
  &__logo,
  &__video,
  &__copy {
    @include mq($from: sph) {
      float: left;
    }
  }

  &__logo {
    @include mq($until: sph) {
      margin: 0 auto 1em;
    }
  }

}

.kiwi-main-banner {

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  margin-bottom: 2em;

  .mask {
    // background-color: rgba($black,0.5);
    color: $white;
    position: relative;
  }

  // Styles for graphic elements - logo and video for all sizes of banner
  &__logo {

    position: relative;
    border: 10px solid $white;
    background-color: $white;

    img {
      display: block;
      max-width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
    }

    @include mq($until: sph) {
      margin: 0 auto 1em;
    }

    @include mq($until: sph) {
      width: 120px;
      height: 120px;
      img {
        max-height: 100px;
      }
    }
    @include mq($from: sph) {
      width: 200px;
      height: 200px;
      img {
        max-height: 180px;
      }
    }
  }


  &--large {
    text-align: center;
    .mask {
      @include mq($until: sph) {
        padding: 2em;
      }
      @include mq($from: sph) {
        padding: 10% 0;
      }
    }
    .kiwi-main-banner {
      &__logo {
        margin: 0 auto 1em;
      }
    }
  }

  &--medium {

    .mask {
      @include mq($until: sph) {
        padding: 2em;
        text-align: center;
      }
      @include mq($from: sph) {
        padding: 5% 0;
      }
    }

    &.display--logo {
      .kiwi-main-banner {
        @include kiwi-main-banner-align-left();

        &__copy {
          @include mq($from: sph) {
            position: absolute;
            top: 0;
            padding: 0 2em 0 240px;
          }
        }

      }
    }
  }

  &--small {

    .mask {
      
      @include mq($until: sph) {
        padding: 1em;
        text-align: center;
      }
      @include mq($from: sph) {
        height: 240px;
      }
    }

    .kiwi-custom-position {

      @include mq($from: sph) {
        position: absolute;
        bottom: 0;
        width: 100%;
      }

    }

    .kiwi-main-banner {

      @include kiwi-main-banner-align-left();

      &__logo {

        @include mq($until: tb) {
          top: 2em;
        }
        @include mq($from: tb) {
          top: 2em;
        }

      }

      &__copy {
        padding: 2em;
      }
    }
  }

  &.display--video {
    .kiwi-main-banner {
      @include kiwi-main-banner-align-left();
      @include mq($until:sph) {
        &__video {
          margin-bottom: 2em;
        }
      }
      @include mq($from:sph) {
        &__video, &__copy {
          width: 50%;
        }
        &__copy {
          padding-left: 30px;
          text-align: left;
        }
      }

      &__video {
        background: #000; // TODO remove temporary background color
      }

    }
  }

}