// --------- MEMBERS SECTION -------- //

.kiwi-members {
    margin-bottom: 2em;
    .kiwi-heading {
        margin-bottom: 0.2em;
    }
    .rich-text {
        margin-bottom: 1.8em;
    }
    .members__list {
        margin: 0 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px 30px;
        justify-items: start;
        @include mq($until: tb) {
            grid-template-columns: 1fr 1fr;
        }
        @include mq($until: mb) {
            grid-template-columns: 1fr;
        }
        &-item {
            &.member {
                display: flex;
                .member {
                &__image {
                    flex: 1 0 auto;
                    border-radius: 50%;
                    border: 1px transparent;
                    height: 90px;
                    width: 90px;
                    overflow: hidden;
                    img {
                        object-fit: cover;
                        height: 90px;
                        width: 90px;
                    }
                }
                &__info {
                    flex: 0 1 auto;
                    margin-left: 1em;
                    &-link p{
                        font-size: 1.3em;
                        margin-bottom: 0.3em;
                    }
                    &-description p{
                        text-overflow: hidden;
                    }
                }
            }
        }
        }
    }
}