// --------- TILE FOR THE MAIN PARTNERS PAGE -------- //

.partnersPlaceholder-item {

  $padding: 1rem;

  .item-body {
    position: relative;
    background-color: darken($white, 2%);
    @include border-radius($border-radius);
    @include transition($fast-ease);
    overflow: hidden;
    margin-bottom: 30px;

    color: $tertiary-color;

    @include mq($until: sph) {
      min-height: 340px;
      padding-bottom: 120px;
    }
    @include mq($from: sph, $until: tb) {
      height: 400px;
    }
    @include mq($from: tb) {
      height: 400px;
    }
    box-shadow: 0 0 12px rgba($black, 0.2);
    &:hover {
      box-shadow: 0 0 24px rgba($black, 0.4);
    }
  }

    &__title, &__header &__details, &__buttons {
      padding: $padding;
    }

    &__header {
      height: 120px;
      @extend .placeholderShimmer;
      position: relative;
      margin-bottom: 60px;

      .partnersPlaceholder-logo {
        @extend .placeholderShimmer;
        width: 120px;
        height: 120px;
        overflow: hidden;
        border: 6px solid $white;
        @include border-radius(2px);
        position: absolute;
        bottom: -60px;
        left: 50%;
        @include translate(-50%, 0);
      }
    }

    &__title {
      .titleAnimation {
        @extend .placeholderShimmer;
        height: 25px;
        margin: 0 40px;
      }
    }

    &__details {
      .detailsAnimation {
        @extend .placeholderShimmer;
        height: 16px;
        margin: 5px 20px;
      }
    }

    &__buttons {
      .buttonAnimation {
        @extend .placeholderShimmer;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 30px;
        width: 100px;
        margin:0 20px 20px;
        border-radius: 4px;
      }
    }
}