// --------- SERVICES BULLET POINTS -------- //

.kiwi-services--bulleted {
    margin-bottom: 2em;
    .kiwi-heading {
        margin-bottom: 0;
    }
    .rich-text {
        margin-bottom: 1.2em;
    }
    .services--bulleted {
        display: flex;
        flex-wrap: wrap;
        &-list {
            flex: 1 0 20%;
            padding-right: 2rem;
            margin-left: 2rem;
            margin-bottom: 0;
            @include mq($until: tb) {
                flex: 100%;
            }
        }
    }
}