// --------- SERVICES BLOCK -------- //


.kiwi-services-block {

  overflow: hidden;
margin-bottom: 2em;
  .kiwi-service-block {

    // -- Layout for various numbers of items -- //

    float: left;

    // When 1 item, for all screen sizes
    &:first-child:nth-last-child(1),
    &:first-child:nth-last-child(1) ~ .kiwi-service-block {
      width: 100%;
    }

    @include  mq($from: tb, $until: dsl) {
      width: 50%;
    }
    @include  mq($from: dsl, $until: dsxl) {

      // When 3, 6 or more items - default
      width: 100%*1/3;

      // When 2 items
      &:first-child:nth-last-child(2),
      &:first-child:nth-last-child(2) ~ .kiwi-service-block {
        width: 50%;
      }

      // When 4 items
      &:first-child:nth-last-child(4),
      &:first-child:nth-last-child(4) ~ .kiwi-service-block {
        width: 50%;
      }

      // When 5 items
      &:first-child:nth-last-child(5) ~ .kiwi-service-block:nth-child(4),
      &:first-child:nth-last-child(5) ~ .kiwi-service-block:nth-child(5) {
        width: 50%;
      }

    }
    @include  mq($from: dsxl) {

      // When 4 or more items - default
      width: 25%;

      // When 2 items
      &:first-child:nth-last-child(2),
      &:first-child:nth-last-child(2) ~ .kiwi-service-block {
        width: 50%;
      }

      // When 3 items
      &:first-child:nth-last-child(3),
      &:first-child:nth-last-child(3) ~ .kiwi-service-block {
        width: 100%*1/3;
      }

      // When 4 items
      &:first-child:nth-last-child(4),
      &:first-child:nth-last-child(4) ~ .kiwi-service-block {
        width: 25%;
      }

      // When 5 or 6 items
      &:first-child:nth-last-child(6),
      &:first-child:nth-last-child(6) ~ .kiwi-service-block,
      &:first-child:nth-last-child(5) ~ .kiwi-service-block {
        width: 100%*1/3;
      }
      // When 5 items - only for 4th and 5th item
      &:first-child:nth-last-child(5),
      &:first-child:nth-last-child(5) ~ .kiwi-service-block:nth-child(4),
      &:first-child:nth-last-child(5) ~ .kiwi-service-block:nth-child(5) {
        width: 50%;
      }

    }


    // -- Layout inside the item -- //

    display: grid;
    @include mq($until: sph) {
      grid-template-columns: 1fr 2fr;
    }
    @include mq($from: sph) {
      grid-template-columns: 1fr 1fr;
    }

    &__image {
      grid-column: 1 / span 1;
    }
    &__copy {
      grid-column: 2 / span 1;
      padding: 2em;

      &:first-child:last-child {
        grid-column: 1 / span 2;
      }
    }

    // -- Styles for elements inside the item -- //

    &__image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__copy {
      h3.kiwi-heading {
        font-size: 1.2em;
        font-family: $ff-OpenSans;
        margin-bottom: 0.6em;

      }
      p {
        font-size: 0.8em;
      }
    }

    // -- Height for blocks -- //
    height: 280px;
    &__image {
      height: 280px;
    }

    // -- Background -- //

    background-color: darken($white,2%); // reg

    &:nth-child(2n) {
      background-color: darken($white,6%); // every 2
    }

    &:nth-child(3n) {
      background-color: darken($white,8%);
    }

    &:nth-child(4n) {
      background-color: darken($white,12%);
    }

    &:nth-child(5n) {
      background-color: darken($white,4%);
    }

    &:nth-child(6n) {
      background-color: darken($white,10%);
    }

  }

}