// --------- TEXT SECTION -------- //

// Contains stying for text elements like h1-6, p tags etc.


h1.kiwi-heading {
    font-family: $ff-Roboto;
    font-size: 2.4em;
    font-weight: 500;
    letter-spacing: .04em;
    margin-bottom: 0.3em;
}
h2.kiwi-heading {
    font-family: $ff-Roboto;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 0.05em;
    margin-bottom: 1.2em;
}
h3.kiwi-heading {
    font-family: $ff-Roboto;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 1.5em;
}

h4.kiwi-heading {
    font-family: $ff-Roboto;
    font-size: 1em;
    margin-bottom: 0.2em;
}

a > .kiwi-heading,
.rich-text > p > a {
    &:hover {
        text-decoration: underline;
    }
}

.rich-text > p > a  {
    color: $tertiary-color !important;
}

// p{ TODO -- make this more specific so that it does not overwrite sitewide styles
//     font-size: 1rem;
//     font-family: $ff-OpenSans;
// }

hr {
    margin: 10px 0;
}

.kiwi-text {
    margin-bottom: 2em;
    .text-columns {
        display: flex;
        @include mq($until: tb) {
            flex-wrap: wrap;
        }
        &__item {
            flex: 1;
            padding: 15px;
            @include mq($until: tb) {
                flex-basis: 100%;
            }
        }
    }
}

.kiwi-blockquote {
    margin-bottom: 3em;
    &__quote {
        // background-color: rgb(20, 130, 212);
        // color: white;
        font-family: $ff-Roboto;
        font-size: 1.5em;
        letter-spacing: 0.01em;
        border-radius: 50px;
        max-width: 80%;
        margin: 0 auto;
        padding: 1.6em 3em;
        @include mq($until:tb) {
            padding: 1.6em 1.6em;
        }
        @include mq($until: mb) {
            padding: 1.6em 1.2em;
        }
        .kiwi-text {
            margin-bottom: 0;
        }
        &:before {
            background: url('/images/quote-large.png') top center no-repeat;
            background-size: 50%;
            width: 328px;
            left: -1em;
            top: 1em;
        }
        &--author,
        &--author-info {
            font-size: 0.7em;
            padding-top: 0.6em;
        }
        &--author p,
        &--author-info  p{
            &::before {
                content: "- "
            }
            &::after {
                content: "";
            }
        }
    }
}

